<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nome</label>
                    <!-- <input type="text" name="name" id="name" #nameInput class="form-control" value="" placeholder="Ingrediente"> -->
                    <input type="text" name="name" id="name" [(ngModel)]="nameInput" class="form-control" value="" placeholder="Ingrediente">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantidade</label>
                    <input type="number" name="amount" id="amount" #amountInput class="form-control" value="0" min="0" max="9999">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="creatIngredient()" [disabled]="nameInput == ''" style="margin-left: 0">Adicionar</button>
                    <button class="btn btn-danger" type="button">Remover</button>
                    <button class="btn btn-primary" type="button" (click)="resetForm()">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>